body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(222, 249, 255);
    z-index: 0;
}

.center{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #afd8ff;
    border-radius: 2%;
    padding: 2em;
    margin: 2em;
}

.description{
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
    margin-left: 5%;
    margin-right: 5%;
}
.scrolling{
    margin: auto;
}

#banner{
    margin: auto;
    font-size: 50px;
    padding: 10px;
    position: relative;
    background-color: white;

    position: relative;
    box-shadow: 0px 6px 20px 0px rgb(21, 86, 100);
}

.stuff{
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 5%;
    width: 27vw;
    background-color: rgba(112, 207, 255, 0.791);
    border-radius: 2%;

    position: relative;
    box-shadow: 0px 6px 20px 0px rgb(21, 86, 100);
}

.scrolling{
    margin: auto;

    position: relative;
    box-shadow: 0px 6px 20px 0px rgb(21, 86, 100);
}

.link{
    margin: auto;
    padding: 1.5em;
    background-color: #ddf1ff;
    text-decoration: none;
    color: #0060B6;
    font-weight: bold;
    border-radius: 10%;

    position: relative;
    box-shadow: 0px 0px 10px 0px rgb(0, 102, 255);
}
.screenshots{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 21%;
    margin-right: 21%;
    margin-bottom: 10%;
    background-color: rgba(100, 100, 100, 0.4);
    border-radius: 1%;
}
.screenshots img{
    height: auto;
    max-width: 26vh;
    margin: 5%;
    box-shadow: red;
}